@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personalizações da barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #1C2948;
}